*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

/* custom colors */
:root {
    --primary: rgb(0, 0, 0);
    --secondary: white;
    --alternative: darkolivegreen;
    --bgCAbout: #56744e;
    --mainBox-shadow: .2rem .2rem .1rem .2rem rgba(105, 96, 96, 0.75);
    --card-box-shadow: .5vw .5vw 1vw rgba(85, 94, 9, 9, 0.9);
    --text-shadow: .3rem .3rem .4rem rgba(78, 107, 91, 0.5);
    --mainBg: hsla(145, 83%, 20%, 0.39);
    --bgImg: linear-gradient(to right, var(--awesome), var(--mainBg))
}

@property --top-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --top-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --bottom-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --bottom-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

body {
  background-color: rgba(117, 164, 127, 1);
  padding-top: 50px;
}

.gradient-custom {
    /* fallback for old browsers /
    background: #6a11cb;
    
    / Chrome 10-25, Safari 5.1-6 /
    background: -webkit-linear-gradient(to right, rgba(186, 205, 146, 1), rgba(117, 164, 127, 1));
    
    / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(186, 205, 146, 1), rgba(117, 164, 127, 1));
}

.navbar-brand {
  width: 70px;
  height: 70px;
}

main{
  background-image: linear-gradient(to right, #3B683A, #D4E7C5)
}

  h2 {
    font-size: 3rem;
  }

  .header-image {
    width: 17rem;
    border-radius: 20px 50px 20px 50px;
    animation: movement 4s infinite;
  }
  .about-image {
    width: 17rem;
    border-radius: 100%;
  }

  .techImage {
    width: 5rem;
    border-radius: 10%;
  }
  .testImage {
    width: 10rem;
  }

  @keyframes movement {
    0% {
        border-radius: 10px;
    }
    50% {
        border-radius: 20px 60px 20px 60px;
    }
    100% {
        border-radius: 10px;
    }
  }

  .text-color {
    background: linear-gradient(to bottom, black , #3B683A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 